body, #react-app, html {
    height: 100%;
    min-height: 100%;
    background: #FAFAFA;
}

.flex {
    display: flex;
    align-items: center;
}

.value-desc {
    display: flex;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.value-desc > .value {
    font-size: 1.1rem;
    padding-left: 0.5rem;
    flex-grow: 1;
}
.value-desc > .desc {
    font-size: 0.9rem;
    font-weight: bold;
    padding-right: 0.5rem;
    color: #666666;
    text-align: right;
}

.tick-icon {
    position: absolute;
    width: 100px;
    height: 66px;
    transform: rotate(-45deg);
    border: 16px solid green;
    transform-origin: 50px 16px;
    border-top: 0;
    border-right: 0;
    border-radius: 0px 10px;
}