@import "../../css/variables.less";

.suggest-button-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  z-index: 1005;
  & > .btn {
    width: 80%;
  }
}